/**
 * Loading animation like the one seen on http://www.freeger.com/projects/contextad/ with CSS
 * Caveat: Not DRY. The content needs to be repeated in a data- attribute (or directly in the CSS).
 */

body {
	background: #003F72;
	min-height: 100%;
	    text-align: center;
}

h1 {
	position: absolute;
	margin-top: 500px;
	    text-align: center;
	color: hsla(0,0%,100%,.3);
	font: 900 800% Baskerville, 'Palatino Linotype', Palatino, serif;	
}

@keyframes loading {
	from { max-width: 0; }
	
}

h1:before {
	content: "Newcastle\00a0Uni";
	position: absolute;
	overflow: hidden;
	max-width: 8em;
	color: white;
	animation: loading 10s linear infinite;
}